<h2 class="show-title">Title
    <p><%= @book.title %></p>
</h2>

<h2 class="show-body">Body
    <P><%= @book.body %></P> 
</h2>


<%= link_to "Edit", edit_book_path %>


<%= link_to "Back", new_book_path %>